In [2]:
# Import libraries
import os
import sys
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV

from sklearn.metrics import accuracy_score, classification_report,precision_score

In [4]:
df=pd.read_csv('ETH-USD.csv')

In [5]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984
...,...,...,...,...,...,...,...
2336,2024-04-02,3504.818359,3506.962891,3215.985107,3277.234619,3277.234619,22076539151
2337,2024-04-03,3277.324219,3368.111572,3205.649170,3311.441895,3311.441895,16010734587
2338,2024-04-04,3311.495361,3443.207520,3253.319336,3330.040527,3330.040527,14476330517
2339,2024-04-05,3330.005859,3345.666504,3214.244141,3318.885254,3318.885254,15214447092
2340,2024-04-06,3319.054688,3356.538330,3313.747559,3336.524414,3336.524414,9193575424

In [6]:
df = df[['Date','Open','High','Low','Close','Volume']]
# sort the values by symbol and then date
df.sort_values(by = ['Date'], inplace = True)

# calculate the change in price
df['change_in_price'] =df['Close'].diff()
df

<ipython-input-6-fec3b763be79>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by = ['Date'], inplace = True)

,Date,Open,High,Low,Close,Volume,change_in_price
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,NaN
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,-21.631012
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,15.428009
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,-6.773010
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,8.808013
...,...,...,...,...,...,...,...
2336,2024-04-02,3504.818359,3506.962891,3215.985107,3277.234619,22076539151,-227.795410
2337,2024-04-03,3277.324219,3368.111572,3205.649170,3311.441895,16010734587,34.207276
2338,2024-04-04,3311.495361,3443.207520,3253.319336,3330.040527,14476330517,18.598632
2339,2024-04-05,3330.005859,3345.666504,3214.244141,3318.885254,15214447092,-11.155273
2340,2024-04-06,3319.054688,3356.538330,3313.747559,3336.524414,9193575424,17.639160

In [7]:
n = 14

# First make a copy of the data frame twice
up_df, down_df = df[['Date','change_in_price']].copy(), df[['Date','change_in_price']].copy()

# For up days, if the change is less than 0 set to 0.
up_df.loc['change_in_price'] = up_df.loc[(up_df['change_in_price'] < 0), 'change_in_price'] = 0

# For down days, if the change is greater than 0 set to 0.
down_df.loc['change_in_price'] = down_df.loc[(down_df['change_in_price'] > 0), 'change_in_price'] = 0

# We need change in price to be absolute.
down_df['change_in_price'] = down_df['change_in_price'].abs()

# Calculate the EWMA (Exponential Weighted Moving Average), meaning older values are given less weight compared to newer values.
ewma_up = up_df['change_in_price'].transform(lambda x: x.ewm(span = n).mean())
ewma_down = down_df['change_in_price'].transform(lambda x: x.ewm(span = n).mean())

# Calculate the Relative Strength
relative_strength = ewma_up / ewma_down

# Calculate the Relative Strength Index
relative_strength_index = 100.0 - (100.0 / (1.0 + relative_strength))

# Add the info to the data frame.
df['down_days'] = down_df['change_in_price']
df['up_days'] = up_df['change_in_price']
df['RSI'] = relative_strength_index

# Display the head.
df.head(30)

,Date,Open,High,Low,Close,Volume,change_in_price,down_days,up_days,RSI
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,NaN,NaN,NaN,NaN
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,-21.631012,21.631012,0.000000,0.000000
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,15.428009,0.000000,15.428009,45.144288
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,-6.773010,6.773010,0.000000,36.742192
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,8.808013,0.000000,8.808013,50.551753
5,2017-11-14,316.763000,340.177002,316.763000,337.631012,1069680000,20.915009,0.000000,20.915009,69.058633
6,2017-11-15,337.963989,340.911987,329.812988,333.356995,722665984,-4.274017,4.274017,0.000000,63.458502
7,2017-11-16,333.442993,336.158997,323.605988,330.924011,797254016,-2.432984,2.432984,0.000000,60.249397
8,2017-11-17,330.166992,334.963989,327.523010,332.394012,621732992,1.470001,0.000000,1.470001,61.603079
9,2017-11-18,331.980011,349.615997,327.687012,347.612000,649638976,15.217988,0.000000,15.217988,72.705827
10,2017-11-19,347.401001,371.290985,344.739990,354.385986,1181529984,6.773986,0.000000,6.773986,76.235240
11,2017-11-20,354.093994,372.136993,353.289001,366.730011,807027008,12.344025,0.000000,12.344025,81.315394
12,2017-11-21,367.442993,372.470001,350.692993,360.401001,949912000,-6.329010,6.329010,0.000000,72.186348
13,2017-11-22,360.312012,381.420013,360.147003,380.652008,800819008,20.251007,0.000000,20.251007,80.336586
14,2017-11-23,381.438995,425.548004,376.088013,410.165985,1845680000,29.513977,0.000000,29.513977,86.827537
15,2017-11-24,412.501007,480.972992,402.757996,474.911011,2292829952,64.745026,0.000000,64.745026,92.823723
16,2017-11-25,475.675995,485.191986,461.053009,466.276001,1422080000,-8.635010,8.635010,0.000000,86.747033
17,2017-11-26,465.973999,472.722992,451.605988,471.329987,1197779968,5.053986,0.000000,5.053986,87.308148
18,2017-11-27,471.531006,493.404999,468.484985,480.355011,1396480000,9.025024,0.000000,9.025024,88.326510
19,2017-11-28,480.518005,482.480011,466.346985,472.902008,1346499968,-7.453003,7.453003,0.000000,82.053110
20,2017-11-29,473.281006,522.307007,425.071014,427.523010,2675940096,-45.378998,45.378998,0.000000,54.739286
21,2017-11-30,431.214996,465.497009,401.243011,447.114014,1903040000,19.591004,0.000000,19.591004,61.176931
22,2017-12-01,445.209015,472.609009,428.312012,466.540009,1247879936,19.425995,0.000000,19.425995,66.610552
23,2017-12-02,466.851013,476.239014,456.653015,463.449005,943649984,-3.091004,3.091004,0.000000,64.941814
24,2017-12-03,463.704987,482.813995,451.851990,465.852997,990556992,2.403992,0.000000,2.403992,65.712647
25,2017-12-04,466.053986,474.777008,453.312012,470.204010,1005550016,4.351013,0.000000,4.351013,67.217912
26,2017-12-05,470.294006,473.558014,457.660004,463.281006,1216720000,-6.923004,6.923004,0.000000,62.204293
27,2017-12-06,462.604004,462.708008,420.209991,428.588013,1998259968,-34.692993,34.692993,0.000000,43.460540
28,2017-12-07,426.368988,441.397003,414.411011,434.407990,2129570048,5.819977,0.000000,5.819977,46.576528
29,2017-12-08,434.989014,466.062012,422.367004,456.031006,2336379904,21.623016,0.000000,21.623016,56.786155

In [10]:
# Calculate the Stochastic Oscillator
n = 14

# Make a copy of the high and low column.
low_14, high_14 = df[['Date','Low']].copy(), df[['Date','High']].copy()

# Group by symbol, then apply the rolling function and grab the Min and Max.
low_14 = low_14['Low'].transform(lambda x: x.rolling(window = n).min())
high_14 = high_14['High'].transform(lambda x: x.rolling(window = n).max())

# Calculate the Stochastic Oscillator.
k_percent = 100 * ((df['Close'] - low_14) / (high_14 - low_14))

# Add the info to the data frame.
df['low_14'] = low_14
df['high_14'] = high_14
df['k_percent'] = k_percent

# Display the head.
df.head(30)

,Date,Open,High,Low,Close,Volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,-21.631012,21.631012,0.000000,0.000000,NaN,NaN,NaN
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,15.428009,0.000000,15.428009,45.144288,NaN,NaN,NaN
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,-6.773010,6.773010,0.000000,36.742192,NaN,NaN,NaN
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,8.808013,0.000000,8.808013,50.551753,NaN,NaN,NaN
5,2017-11-14,316.763000,340.177002,316.763000,337.631012,1069680000,20.915009,0.000000,20.915009,69.058633,NaN,NaN,NaN
6,2017-11-15,337.963989,340.911987,329.812988,333.356995,722665984,-4.274017,4.274017,0.000000,63.458502,NaN,NaN,NaN
7,2017-11-16,333.442993,336.158997,323.605988,330.924011,797254016,-2.432984,2.432984,0.000000,60.249397,NaN,NaN,NaN
8,2017-11-17,330.166992,334.963989,327.523010,332.394012,621732992,1.470001,0.000000,1.470001,61.603079,NaN,NaN,NaN
9,2017-11-18,331.980011,349.615997,327.687012,347.612000,649638976,15.217988,0.000000,15.217988,72.705827,NaN,NaN,NaN
10,2017-11-19,347.401001,371.290985,344.739990,354.385986,1181529984,6.773986,0.000000,6.773986,76.235240,NaN,NaN,NaN
11,2017-11-20,354.093994,372.136993,353.289001,366.730011,807027008,12.344025,0.000000,12.344025,81.315394,NaN,NaN,NaN
12,2017-11-21,367.442993,372.470001,350.692993,360.401001,949912000,-6.329010,6.329010,0.000000,72.186348,NaN,NaN,NaN
13,2017-11-22,360.312012,381.420013,360.147003,380.652008,800819008,20.251007,0.000000,20.251007,80.336586,294.541992,381.420013,99.115996
14,2017-11-23,381.438995,425.548004,376.088013,410.165985,1845680000,29.513977,0.000000,29.513977,86.827537,294.541992,425.548004,88.258540
15,2017-11-24,412.501007,480.972992,402.757996,474.911011,2292829952,64.745026,0.000000,64.745026,92.823723,298.191986,480.972992,96.683473
16,2017-11-25,475.675995,485.191986,461.053009,466.276001,1422080000,-8.635010,8.635010,0.000000,86.747033,298.513000,485.191986,89.867105
17,2017-11-26,465.973999,472.722992,451.605988,471.329987,1197779968,5.053986,0.000000,5.053986,87.308148,307.024994,485.191986,92.219659
18,2017-11-27,471.531006,493.404999,468.484985,480.355011,1396480000,9.025024,0.000000,9.025024,88.326510,316.763000,493.404999,92.612183
19,2017-11-28,480.518005,482.480011,466.346985,472.902008,1346499968,-7.453003,7.453003,0.000000,82.053110,323.605988,493.404999,87.925141
20,2017-11-29,473.281006,522.307007,425.071014,427.523010,2675940096,-45.378998,45.378998,0.000000,54.739286,323.605988,522.307007,52.298183
21,2017-11-30,431.214996,465.497009,401.243011,447.114014,1903040000,19.591004,0.000000,19.591004,61.176931,327.523010,522.307007,61.396730
22,2017-12-01,445.209015,472.609009,428.312012,466.540009,1247879936,19.425995,0.000000,19.425995,66.610552,327.687012,522.307007,71.345700
23,2017-12-02,466.851013,476.239014,456.653015,463.449005,943649984,-3.091004,3.091004,0.000000,64.941814,344.739990,522.307007,66.853077
24,2017-12-03,463.704987,482.813995,451.851990,465.852997,990556992,2.403992,0.000000,2.403992,65.712647,350.692993,522.307007,67.104079
25,2017-12-04,466.053986,474.777008,453.312012,470.204010,1005550016,4.351013,0.000000,4.351013,67.217912,350.692993,522.307007,69.639428
26,2017-12-05,470.294006,473.558014,457.660004,463.281006,1216720000,-6.923004,6.923004,0.000000,62.204293,360.147003,522.307007,63.600148
27,2017-12-06,462.604004,462.708008,420.209991,428.588013,1998259968,-34.692993,34.692993,0.000000,43.460540,376.088013,522.307007,35.905048
28,2017-12-07,426.368988,441.397003,414.411011,434.407990,2129570048,5.819977,0.000000,5.819977,46.576528,401.243011,522.307007,27.394585
29,2017-12-08,434.989014,466.062012,422.367004,456.031006,2336379904,21.623016,0.000000,21.623016,56.786155,401.243011,522.307007,45.255399

In [11]:
# Calculate the MACD
ema_26 = df['Close'].transform(lambda x: x.ewm(span = 26).mean())
ema_12 = df['Close'].transform(lambda x: x.ewm(span = 12).mean())
macd = ema_12 - ema_26

# Calculate the EMA
ema_9_macd = macd.ewm(span = 9).mean()

# Store the data in the data frame.
df['MACD'] = macd
df['MACD_EMA'] = ema_9_macd

# Print the head.
df.head(30)

,Date,Open,High,Low,Close,Volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,MACD,MACD_EMA
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,-21.631012,21.631012,0.000000,0.000000,NaN,NaN,NaN,-0.485311,-0.269617
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,15.428009,0.000000,15.428009,45.144288,NaN,NaN,NaN,-0.139961,-0.216480
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,-6.773010,6.773010,0.000000,36.742192,NaN,NaN,NaN,-0.223996,-0.219026
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,8.808013,0.000000,8.808013,50.551753,NaN,NaN,NaN,0.085547,-0.128422
5,2017-11-14,316.763000,340.177002,316.763000,337.631012,1069680000,20.915009,0.000000,20.915009,69.058633,NaN,NaN,NaN,1.164355,0.221992
6,2017-11-15,337.963989,340.911987,329.812988,333.356995,722665984,-4.274017,4.274017,0.000000,63.458502,NaN,NaN,NaN,1.642529,0.581492
7,2017-11-16,333.442993,336.158997,323.605988,330.924011,797254016,-2.432984,2.432984,0.000000,60.249397,NaN,NaN,NaN,1.821038,0.879378
8,2017-11-17,330.166992,334.963989,327.523010,332.394012,621732992,1.470001,0.000000,1.470001,61.603079,NaN,NaN,NaN,1.989876,1.135909
9,2017-11-18,331.980011,349.615997,327.687012,347.612000,649638976,15.217988,0.000000,15.217988,72.705827,NaN,NaN,NaN,2.864563,1.523228
10,2017-11-19,347.401001,371.290985,344.739990,354.385986,1181529984,6.773986,0.000000,6.773986,76.235240,NaN,NaN,NaN,3.817341,2.025166
11,2017-11-20,354.093994,372.136993,353.289001,366.730011,807027008,12.344025,0.000000,12.344025,81.315394,NaN,NaN,NaN,5.142005,2.694533
12,2017-11-21,367.442993,372.470001,350.692993,360.401001,949912000,-6.329010,6.329010,0.000000,72.186348,NaN,NaN,NaN,5.698686,3.330316
13,2017-11-22,360.312012,381.420013,360.147003,380.652008,800819008,20.251007,0.000000,20.251007,80.336586,294.541992,381.420013,99.115996,7.215027,4.143000
14,2017-11-23,381.438995,425.548004,376.088013,410.165985,1845680000,29.513977,0.000000,29.513977,86.827537,294.541992,425.548004,88.258540,10.017925,5.360834
15,2017-11-24,412.501007,480.972992,402.757996,474.911011,2292829952,64.745026,0.000000,64.745026,92.823723,298.191986,480.972992,96.683473,15.945597,7.539099
16,2017-11-25,475.675995,485.191986,461.053009,466.276001,1422080000,-8.635010,8.635010,0.000000,86.747033,298.513000,485.191986,89.867105,19.734016,10.034269
17,2017-11-26,465.973999,472.722992,451.605988,471.329987,1197779968,5.053986,0.000000,5.053986,87.308148,307.024994,485.191986,92.219659,22.711727,12.616274
18,2017-11-27,471.531006,493.404999,468.484985,480.355011,1396480000,9.025024,0.000000,9.025024,88.326510,316.763000,493.404999,92.612183,25.302823,15.190685
19,2017-11-28,480.518005,482.480011,466.346985,472.902008,1346499968,-7.453003,7.453003,0.000000,82.053110,323.605988,493.404999,87.925141,26.508748,17.480700
20,2017-11-29,473.281006,522.307007,425.071014,427.523010,2675940096,-45.378998,45.378998,0.000000,54.739286,323.605988,522.307007,52.298183,24.120518,18.821026
21,2017-11-30,431.214996,465.497009,401.243011,447.114014,1903040000,19.591004,0.000000,19.591004,61.176931,327.523010,522.307007,61.396730,23.298212,19.723119
22,2017-12-01,445.209015,472.609009,428.312012,466.540009,1247879936,19.425995,0.000000,19.425995,66.610552,327.687012,522.307007,71.345700,23.704033,20.524030
23,2017-12-02,466.851013,476.239014,456.653015,463.449005,943649984,-3.091004,3.091004,0.000000,64.941814,344.739990,522.307007,66.853077,23.526945,21.127462
24,2017-12-03,463.704987,482.813995,451.851990,465.852997,990556992,2.403992,0.000000,2.403992,65.712647,350.692993,522.307007,67.104079,23.279690,21.559540
25,2017-12-04,466.053986,474.777008,453.312012,470.204010,1005550016,4.351013,0.000000,4.351013,67.217912,350.692993,522.307007,69.639428,23.119907,21.872560
26,2017-12-05,470.294006,473.558014,457.660004,463.281006,1216720000,-6.923004,6.923004,0.000000,62.204293,360.147003,522.307007,63.600148,22.234537,21.945131
27,2017-12-06,462.604004,462.708008,420.209991,428.588013,1998259968,-34.692993,34.692993,0.000000,43.460540,376.088013,522.307007,35.905048,18.804324,21.315752
28,2017-12-07,426.368988,441.397003,414.411011,434.407990,2129570048,5.819977,0.000000,5.819977,46.576528,401.243011,522.307007,27.394585,16.328819,20.316820
29,2017-12-08,434.989014,466.062012,422.367004,456.031006,2336379904,21.623016,0.000000,21.623016,56.786155,401.243011,522.307007,45.255399,15.777249,19.407780

In [12]:
# Calculate the Price Rate of Change
n = 9

# Calculate the Rate of Change in the Price, and store it in the Data Frame.
df['Price_Rate_Of_Change'] = df['Close'].transform(lambda x: x.pct_change(periods = n))

# Print the first 30 rows
df.head(30)

,Date,Open,High,Low,Close,Volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,MACD,MACD_EMA,Price_Rate_Of_Change
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,-21.631012,21.631012,0.000000,0.000000,NaN,NaN,NaN,-0.485311,-0.269617,NaN
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,15.428009,0.000000,15.428009,45.144288,NaN,NaN,NaN,-0.139961,-0.216480,NaN
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,-6.773010,6.773010,0.000000,36.742192,NaN,NaN,NaN,-0.223996,-0.219026,NaN
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,8.808013,0.000000,8.808013,50.551753,NaN,NaN,NaN,0.085547,-0.128422,NaN
5,2017-11-14,316.763000,340.177002,316.763000,337.631012,1069680000,20.915009,0.000000,20.915009,69.058633,NaN,NaN,NaN,1.164355,0.221992,NaN
6,2017-11-15,337.963989,340.911987,329.812988,333.356995,722665984,-4.274017,4.274017,0.000000,63.458502,NaN,NaN,NaN,1.642529,0.581492,NaN
7,2017-11-16,333.442993,336.158997,323.605988,330.924011,797254016,-2.432984,2.432984,0.000000,60.249397,NaN,NaN,NaN,1.821038,0.879378,NaN
8,2017-11-17,330.166992,334.963989,327.523010,332.394012,621732992,1.470001,0.000000,1.470001,61.603079,NaN,NaN,NaN,1.989876,1.135909,NaN
9,2017-11-18,331.980011,349.615997,327.687012,347.612000,649638976,15.217988,0.000000,15.217988,72.705827,NaN,NaN,NaN,2.864563,1.523228,0.083295
10,2017-11-19,347.401001,371.290985,344.739990,354.385986,1181529984,6.773986,0.000000,6.773986,76.235240,NaN,NaN,NaN,3.817341,2.025166,0.184235
11,2017-11-20,354.093994,372.136993,353.289001,366.730011,807027008,12.344025,0.000000,12.344025,81.315394,NaN,NaN,NaN,5.142005,2.694533,0.165402
12,2017-11-21,367.442993,372.470001,350.692993,360.401001,949912000,-6.329010,6.329010,0.000000,72.186348,NaN,NaN,NaN,5.698686,3.330316,0.170483
13,2017-11-22,360.312012,381.420013,360.147003,380.652008,800819008,20.251007,0.000000,20.251007,80.336586,294.541992,381.420013,99.115996,7.215027,4.143000,0.201872
14,2017-11-23,381.438995,425.548004,376.088013,410.165985,1845680000,29.513977,0.000000,29.513977,86.827537,294.541992,425.548004,88.258540,10.017925,5.360834,0.214835
15,2017-11-24,412.501007,480.972992,402.757996,474.911011,2292829952,64.745026,0.000000,64.745026,92.823723,298.191986,480.972992,96.683473,15.945597,7.539099,0.424632
16,2017-11-25,475.675995,485.191986,461.053009,466.276001,1422080000,-8.635010,8.635010,0.000000,86.747033,298.513000,485.191986,89.867105,19.734016,10.034269,0.409012
17,2017-11-26,465.973999,472.722992,451.605988,471.329987,1197779968,5.053986,0.000000,5.053986,87.308148,307.024994,485.191986,92.219659,22.711727,12.616274,0.417986
18,2017-11-27,471.531006,493.404999,468.484985,480.355011,1396480000,9.025024,0.000000,9.025024,88.326510,316.763000,493.404999,92.612183,25.302823,15.190685,0.381871
19,2017-11-28,480.518005,482.480011,466.346985,472.902008,1346499968,-7.453003,7.453003,0.000000,82.053110,323.605988,493.404999,87.925141,26.508748,17.480700,0.334426
20,2017-11-29,473.281006,522.307007,425.071014,427.523010,2675940096,-45.378998,45.378998,0.000000,54.739286,323.605988,522.307007,52.298183,24.120518,18.821026,0.165770
21,2017-11-30,431.214996,465.497009,401.243011,447.114014,1903040000,19.591004,0.000000,19.591004,61.176931,327.523010,522.307007,61.396730,23.298212,19.723119,0.240601
22,2017-12-01,445.209015,472.609009,428.312012,466.540009,1247879936,19.425995,0.000000,19.425995,66.610552,327.687012,522.307007,71.345700,23.704033,20.524030,0.225634
23,2017-12-02,466.851013,476.239014,456.653015,463.449005,943649984,-3.091004,3.091004,0.000000,64.941814,344.739990,522.307007,66.853077,23.526945,21.127462,0.129906
24,2017-12-03,463.704987,482.813995,451.851990,465.852997,990556992,2.403992,0.000000,2.403992,65.712647,350.692993,522.307007,67.104079,23.279690,21.559540,-0.019073
25,2017-12-04,466.053986,474.777008,453.312012,470.204010,1005550016,4.351013,0.000000,4.351013,67.217912,350.692993,522.307007,69.639428,23.119907,21.872560,0.008424
26,2017-12-05,470.294006,473.558014,457.660004,463.281006,1216720000,-6.923004,6.923004,0.000000,62.204293,360.147003,522.307007,63.600148,22.234537,21.945131,-0.017077
27,2017-12-06,462.604004,462.708008,420.209991,428.588013,1998259968,-34.692993,34.692993,0.000000,43.460540,376.088013,522.307007,35.905048,18.804324,21.315752,-0.107768
28,2017-12-07,426.368988,441.397003,414.411011,434.407990,2129570048,5.819977,0.000000,5.819977,46.576528,401.243011,522.307007,27.394585,16.328819,20.316820,-0.081400
29,2017-12-08,434.989014,466.062012,422.367004,456.031006,2336379904,21.623016,0.000000,21.623016,56.786155,401.243011,522.307007,45.255399,15.777249,19.407780,0.066682

In [13]:
df['Tomorow']=df['Close'].shift(-1)

In [14]:
df

,Date,Open,High,Low,Close,Volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,MACD,MACD_EMA,Price_Rate_Of_Change,Tomorow
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,299.252991
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,-21.631012,21.631012,0.000000,0.000000,NaN,NaN,NaN,-0.485311,-0.269617,NaN,314.681000
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,15.428009,0.000000,15.428009,45.144288,NaN,NaN,NaN,-0.139961,-0.216480,NaN,307.907990
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,-6.773010,6.773010,0.000000,36.742192,NaN,NaN,NaN,-0.223996,-0.219026,NaN,316.716003
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,8.808013,0.000000,8.808013,50.551753,NaN,NaN,NaN,0.085547,-0.128422,NaN,337.631012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,2024-04-02,3504.818359,3506.962891,3215.985107,3277.234619,22076539151,-227.795410,227.795410,0.000000,34.980634,3059.654785,3678.789795,35.142551,3.667934,34.094274,-0.051352,3311.441895
2337,2024-04-03,3277.324219,3368.111572,3205.649170,3311.441895,16010734587,34.207276,0.000000,34.207276,37.800799,3205.649170,3678.789795,22.359679,-11.440679,24.987283,-0.077820,3330.040527
2338,2024-04-04,3311.495361,3443.207520,3253.319336,3330.040527,14476330517,18.598632,0.000000,18.598632,39.448459,3205.649170,3678.789795,26.290568,-21.663882,15.657050,-0.071767,3318.885254
2339,2024-04-05,3330.005859,3345.666504,3214.244141,3318.885254,15214447092,-11.155273,11.155273,0.000000,38.738276,3205.649170,3678.789795,23.932860,-30.316511,6.462338,-0.051778,3336.524414
2340,2024-04-06,3319.054688,3356.538330,3313.747559,3336.524414,9193575424,17.639160,0.000000,17.639160,40.686502,3205.649170,3678.789795,27.660961,-35.343037,-1.898737,-0.063115,NaN

In [15]:
df['prediction']=(df['Tomorow']>df['Close']).astype(int)

In [16]:
df['prediction'].value_counts()

1    1199
0    1142
Name: prediction, dtype: int64

In [17]:
# We need to remove all rows that have an NaN value.
print('Before NaN Drop we have {} rows and {} columns'.format(df.shape[0], df.shape[1]))

# Any row that has a `NaN` value will be dropped.
df = df.dropna()

# Display how much we have left now.
print('After NaN Drop we have {} rows and {} columns'.format(df.shape[0], df.shape[1]))

# Print the head.
df.head()

Before NaN Drop we have 2341 rows and 18 columns
After NaN Drop we have 2327 rows and 18 columns

,Date,Open,High,Low,Close,Volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,MACD,MACD_EMA,Price_Rate_Of_Change,Tomorow,prediction
13,2017-11-22,360.312012,381.420013,360.147003,380.652008,800819008,20.251007,0.00000,20.251007,80.336586,294.541992,381.420013,99.115996,7.215027,4.143000,0.201872,410.165985,1
14,2017-11-23,381.438995,425.548004,376.088013,410.165985,1845680000,29.513977,0.00000,29.513977,86.827537,294.541992,425.548004,88.258540,10.017925,5.360834,0.214835,474.911011,1
15,2017-11-24,412.501007,480.972992,402.757996,474.911011,2292829952,64.745026,0.00000,64.745026,92.823723,298.191986,480.972992,96.683473,15.945597,7.539099,0.424632,466.276001,0
16,2017-11-25,475.675995,485.191986,461.053009,466.276001,1422080000,-8.635010,8.63501,0.000000,86.747033,298.513000,485.191986,89.867105,19.734016,10.034269,0.409012,471.329987,1
17,2017-11-26,465.973999,472.722992,451.605988,471.329987,1197779968,5.053986,0.00000,5.053986,87.308148,307.024994,485.191986,92.219659,22.711727,12.616274,0.417986,480.355011,1

In [18]:
model=RandomForestClassifier(n_estimators=100,min_samples_split=50,random_state=1)
train=df.iloc[:-200]
test=df[-200:]
predictors=["RSI","k_percent","MACD","MACD_EMA"]
model.fit(train[predictors],train['prediction'])

RandomForestClassifier(min_samples_split=50, random_state=1)

In [19]:
preds=model.predict(test[predictors])
preds=pd.Series(preds,index=test.index)
precision_score(test["prediction"],preds)

0.5959595959595959